# Base skeleton for the merged OpenAPI spec: everything that is fixed rather than
# derived from the per-service specs. Key order here is the output order.
# Embedded into the openapi tool (see main.go); override with `-base <file>`.
openapi: 3.0.0
info:
  title: FreeBusy API
  summary: Scheduling, availability, and booking platform API.
  description: |-
    FreeBusy is a scheduling platform that exposes resources, schedules, availability windows, bookings, organisations, and promotional codes over a RESTful, OpenAPI-described surface. This document is generated from Protocol Buffer service definitions and merged into a single specification.

    Authentication is performed via bearer tokens unless otherwise noted. All timestamps are RFC 3339 and all monetary amounts follow the associated currency's minor units.
  version: 1.0.0
  termsOfService: https://freebusy.oh-tarnished.dev/terms
  contact:
    name: FreeBusy API Support
    url: https://freebusy.oh-tarnished.dev/support
    email: support@oh-tarnished.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: FreeBusy API documentation
  url: https://freebusy.oh-tarnished.dev/docs
servers:
  - url: https://freebusy.oh-tarnished.dev
    description: Production
  - url: https://staging.freebusy.oh-tarnished.dev
    description: Staging
  - url: http://localhost:8080
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: Allocation Service
  - name: Channel Service
  - name: Hold Service
  - name: Identity Service
  - name: Licence Service
  - name: Organisation Service
  - name: Promo Code Service
  - name: Quote Service
  - name: Rate Plan Service
  - name: Schedule Service
  - name: Scheduling Service
paths:
  /v1/organizationalUnits/{organizationalUnit}:checkAvailability:
    post:
      tags:
        - Allocation Service
      description: |-
        Checks one exact window for one exact quantity, with reasons when it fails.

         Advisory, not a reservation: the answer can be stale the instant it is
         returned. CreateHold is what actually secures anything.
      operationId: AllocationService_CheckAvailability
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Check Availability
  /v1/organizationalUnits/{organizationalUnit}:computeAvailability:
    post:
      tags:
        - Allocation Service
      description: Computes availability across a site's resources, bucketed by slot or day.
      operationId: AllocationService_ComputeAvailability
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Availability
  /v1/organizations/{organization}:searchAvailability:
    post:
      tags:
        - Allocation Service
      description: |-
        Sweeps an operator for resources free across a window.

         The search entry point, where ComputeAvailability answers for a site the
         caller has already chosen. Paginated, since a large operator may match
         thousands of resources.
      operationId: AllocationService_SearchAvailability
      parameters:
        - name: organization
          in: path
          description: The organization id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Search Availability
  /v1/resources:batchCompute:
    post:
      tags:
        - Allocation Service
      description: |-
        Runs several availability computations in one round trip.

         Each entry is independent and may name a different site, window or
         granularity. Capped at 50 entries, because each one fans out across every
         candidate resource's calendar.
      operationId: AllocationService_BatchComputeAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchComputeAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Batch Compute Availability
  /v1/organizationalUnits/{organizationalUnit}/holds:
    get:
      tags:
        - Hold Service
      description: Lists the holds taken at a site.
      operationId: HoldService_ListHolds
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum holds to return. Defaults to 50, capped at 1000.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListHoldsResponse.next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression, AIP-160, over the hold's own fields, e.g.
             `state=HOLD_STATE_ACTIVE`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHoldsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Holds
    post:
      tags:
        - Hold Service
      description: |-
        Takes a hold, allocating concrete resources for the window.

         The server chooses which resources are taken from the candidates offered,
         under a lock, so two callers racing for the last bay cannot both win.
         Requires an idempotency key: a retry after a timeout returns the original
         hold rather than taking a second one.
      operationId: HoldService_CreateHold
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: holdId
          in: query
          description: |-
            Client-assigned id, becoming the last segment of the hold name. The server
             generates one when empty.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hold'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Hold
  /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:
    get:
      tags:
        - Hold Service
      description: |-
        Retrieves one hold.

         Authoritative on expiry: a hold whose expire_time has passed is reported
         EXPIRED here even if the sweeper has not yet written that state, so a
         caller never sees an ACTIVE hold that no longer reserves anything.
      operationId: HoldService_GetHold
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: hold
          in: path
          description: The hold id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Hold
    delete:
      tags:
        - Hold Service
      description: |-
        Deletes a hold record.

         Housekeeping for terminal holds, not a way to free resources -- use
         ReleaseHold for that. Deleting an ACTIVE hold is rejected, so inventory is
         never freed by a path that leaves no audit trail.
      operationId: HoldService_DeleteHold
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: hold
          in: path
          description: The hold id.
          required: true
          schema:
            type: string
        - name: etag
          in: query
          description: |-
            Opaque version read from the hold; the delete is rejected if the hold
             changed since (AIP-154).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Hold
  /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:extend:
    post:
      tags:
        - Hold Service
      description: |-
        Pushes a hold's expiry further out.

         Measured from now rather than from the current deadline, so repeated calls
         cannot accumulate an unbounded reservation. Fails on a hold that is not
         ACTIVE -- an expired hold is gone, not extendable.
      operationId: HoldService_ExtendHold
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: hold
          in: path
          description: The hold id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendHoldRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Extend Hold
  /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:release:
    post:
      tags:
        - Hold Service
      description: |-
        Gives a hold up before it expires, freeing its resources immediately.

         Idempotent: releasing an already-released or expired hold succeeds and
         changes nothing, because the caller's intent is already satisfied.
      operationId: HoldService_ReleaseHold
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: hold
          in: path
          description: The hold id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseHoldRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Release Hold
  /v1/channels:
    get:
      tags:
        - Channel Service
      description: Lists channels.
      operationId: ChannelService_ListChannels
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of channels to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListChannels call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `property = "properties/9"`,
             `type = CHANNEL_TYPE_AGODA`, or `state = CHANNEL_STATE_CONNECTED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Channels
    post:
      tags:
        - Channel Service
      description: Creates a channel connection for a property.
      operationId: ChannelService_CreateChannel
      parameters:
        - name: channelId
          in: query
          description: Optional caller-chosen ID for the channel; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Channel
  /v1/channels/{channel}:
    get:
      tags:
        - Channel Service
      description: Gets a single channel.
      operationId: ChannelService_GetChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Channel
    delete:
      tags:
        - Channel Service
      description: Deletes a channel connection.
      operationId: ChannelService_DeleteChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the channel and its unit mappings; if false and mappings
             exist, the call fails.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Channel
    patch:
      tags:
        - Channel Service
      description: Updates a channel.
      operationId: ChannelService_UpdateChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Channel
  /v1/channels/{channel}/syncEvents:
    get:
      tags:
        - Channel Service
      description: Lists a channel's sync events.
      operationId: ChannelService_ListSyncEvents
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of events to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListSyncEvents call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `direction = SYNC_DIRECTION_OUTBOUND`,
             `state = SYNC_STATE_FAILED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "event_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncEventsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Sync Events
  /v1/channels/{channel}/syncStatus:
    get:
      tags:
        - Channel Service
      description: Reports a channel's sync health.
      operationId: ChannelService_GetChannelSyncStatus
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSyncStatus'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Channel Sync Status
  /v1/channels/{channel}/unitMappings:
    get:
      tags:
        - Channel Service
      description: Lists the unit mappings on a channel.
      operationId: ChannelService_ListUnitMappings
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of mappings to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListUnitMappings call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. `state = MAPPING_STATE_UNMAPPED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnitMappingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Unit Mappings
    post:
      tags:
        - Channel Service
      description: Maps a unit to the channel's external room type / rate plan.
      operationId: ChannelService_CreateUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMappingId
          in: query
          description: Optional caller-chosen ID for the mapping; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMapping'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Unit Mapping
  /v1/channels/{channel}/unitMappings/{unitMapping}:
    get:
      tags:
        - Channel Service
      description: Gets a single unit mapping.
      operationId: ChannelService_GetUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Unit Mapping
    delete:
      tags:
        - Channel Service
      description: Deletes a unit mapping.
      operationId: ChannelService_DeleteUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Unit Mapping
    patch:
      tags:
        - Channel Service
      description: Updates a unit mapping.
      operationId: ChannelService_UpdateUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMapping'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Unit Mapping
  /v1/channels/{channel}:disable:
    post:
      tags:
        - Channel Service
      description: Disables a channel, pausing ARI push and reservation pull.
      operationId: ChannelService_DisableChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableChannelRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Disable Channel
  /v1/channels/{channel}:enable:
    post:
      tags:
        - Channel Service
      description: Enables a channel, resuming ARI push and reservation pull.
      operationId: ChannelService_EnableChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableChannelRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Enable Channel
  /v1/channels/{channel}:importReservation:
    post:
      tags:
        - Channel Service
      description: Lands a reservation made on a channel, reconciling it into a booking.
      operationId: ChannelService_ImportReservation
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportReservationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportReservationResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Import Reservation
  /v1/channels/{channel}:pushAri:
    post:
      tags:
        - Channel Service
      description: Pushes availability/rate/restriction updates for a channel's mapped units.
      operationId: ChannelService_PushAri
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushAriRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushAriResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Push Ari
  /v1/users:
    get:
      tags:
        - Identity Service
      description: Lists users.
      operationId: IdentityService_ListUsers
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of users to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListUsers call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. a match on display_name or email.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Users
  /v1/users/{user}:
    get:
      tags:
        - Identity Service
      description: Returns a user. Use "users/me" for the signed-in caller.
      operationId: IdentityService_GetUser
      parameters:
        - name: user
          in: path
          description: The user id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get User
    patch:
      tags:
        - Identity Service
      description: Updates the signed-in user's profile.
      operationId: IdentityService_UpdateUser
      parameters:
        - name: user
          in: path
          description: The user id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable profile fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update User
  /v1/organisations:
    get:
      tags:
        - Organisation Service
      description: Lists the organisations the caller belongs to.
      operationId: OrganisationService_ListOrganisations
      parameters:
        - name: pageSize
          in: query
          description: |-
            Maximum number of organisations to return. Must be at most 1000; larger values are rejected. Zero lets
             the server pick a default.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListOrganisations call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression over organisation fields (e.g. display_name).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Organisations
    post:
      tags:
        - Organisation Service
      description: Creates an organisation. The caller becomes its first owner.
      operationId: OrganisationService_CreateOrganisation
      parameters:
        - name: organisationId
          in: query
          description: Optional caller-chosen ID for the organisation; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Organisation
  /v1/organisations/{organisation}:
    get:
      tags:
        - Organisation Service
      description: Gets a single organisation.
      operationId: OrganisationService_GetOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Organisation
    delete:
      tags:
        - Organisation Service
      description: Deletes an organisation.
      operationId: OrganisationService_DeleteOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the organisation and its members; otherwise the call fails when
             the organisation still has members.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Organisation
    patch:
      tags:
        - Organisation Service
      description: Updates an organisation.
      operationId: OrganisationService_UpdateOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Organisation
  /v1/organisations/{organisation}/members:
    get:
      tags:
        - Organisation Service
      description: Lists the members of an organisation.
      operationId: OrganisationService_ListMembers
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of members to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListMembers call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. `role = ADMIN` or `state = ACTIVE`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Members
  /v1/organisations/{organisation}/members/{member}:
    get:
      tags:
        - Organisation Service
      description: Gets a single member.
      operationId: OrganisationService_GetMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Member
    delete:
      tags:
        - Organisation Service
      description: Removes a member from an organisation.
      operationId: OrganisationService_DeleteMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Member
    patch:
      tags:
        - Organisation Service
      description: Updates a member; the role is the only mutable field.
      operationId: OrganisationService_UpdateMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Member
  /v1/organisations/{organisation}/members:invite:
    post:
      tags:
        - Organisation Service
      description: Invites a member to an organisation.
      operationId: OrganisationService_InviteMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Invite Member
  /v1/ratePlans:
    get:
      tags:
        - Rate Plan Service
      description: Lists rate plans, most usefully filtered by the resource they price.
      operationId: RatePlanService_ListRatePlans
      parameters:
        - name: pageSize
          in: query
          description: Maximum rate plans to return. Defaults to 50, capped at 1000.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListRatePlansResponse.next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression, AIP-160, e.g. `resource="resources/bay-l2-014"`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRatePlansResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Rate Plans
    post:
      tags:
        - Rate Plan Service
      description: Creates a rate plan.
      operationId: RatePlanService_CreateRatePlan
      parameters:
        - name: ratePlanId
          in: query
          description: |-
            Client-assigned id, becoming the last segment of the name. The server
             generates one when empty.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePlan'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlan'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Rate Plan
  /v1/ratePlans/{ratePlan}:
    get:
      tags:
        - Rate Plan Service
      description: Retrieves one rate plan.
      operationId: RatePlanService_GetRatePlan
      parameters:
        - name: ratePlan
          in: path
          description: The ratePlan id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlan'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Rate Plan
    delete:
      tags:
        - Rate Plan Service
      description: |-
        Deletes a rate plan.

         Prefer archiving (state ARCHIVED) over deleting: a booking priced under a
         plan must stay explainable after the plan stops being offered, and a delete
         takes that record away.
      operationId: RatePlanService_DeleteRatePlan
      parameters:
        - name: ratePlan
          in: path
          description: The ratePlan id.
          required: true
          schema:
            type: string
        - name: etag
          in: query
          description: |-
            Opaque version read from the rate plan; the delete is rejected if it
             changed since (AIP-154).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Rate Plan
    patch:
      tags:
        - Rate Plan Service
      description: |-
        Updates a rate plan.

         Editing a plan changes what future quotes cost; it does not reprice a
         booking already taken, which carries the components it was quoted under.
      operationId: RatePlanService_UpdateRatePlan
      parameters:
        - name: ratePlan
          in: path
          description: The ratePlan id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to update. An empty mask updates all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePlan'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlan'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Rate Plan
  /v1/ratePlans/{ratePlan}:computeQuote:
    post:
      tags:
        - Quote Service
      description: |-
        Prices a window under a rate plan, returning every component.

         A custom method (AIP-136): it computes a result rather than fetching a
         resource, so it takes neither a standard-method name nor its shape.

         An invalid promotion code is reported in rejected_promotion_codes rather
         than failing the call — a mistyped code should re-render a price, not an
         error.
      operationId: QuoteService_ComputeQuote
      parameters:
        - name: ratePlan
          in: path
          description: The ratePlan id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeQuoteRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeQuoteResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Quote
  /promocode/v1/promoCodes:
    get:
      tags:
        - Promo Code Service
      description: Lists promo codes.
      operationId: PromoCodeService_ListPromoCodes
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of promo codes to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListPromoCodes call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression over promo code fields, e.g. `state = ACTIVE` or a
             substring match on code/display_name (AIP-160).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "code" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromoCodesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Promo Codes
    post:
      tags:
        - Promo Code Service
      description: Creates a promo code.
      operationId: PromoCodeService_CreatePromoCode
      parameters:
        - name: codeGeneration
          in: query
          description: |-
            Whether the human-facing code is supplied by the caller (MANUAL) or minted
             by the server (AUTO). Unset defaults to MANUAL. When AUTO, promo_code.code
             is ignored and the server returns the generated code on the created resource.
             (-- api-linter: core::0133::request-unknown-fields=disabled
                 aip.dev/not-precedent: Code generation mode is intrinsic to creating a
                 promo code and has no standard AIP-133 equivalent. --)
          schema:
            type: integer
            format: enum
        - name: promoCodeId
          in: query
          description: Optional caller-chosen ID for the promo code; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
        - name: validateOnly
          in: query
          description: If true, validate the request and return what would happen, but don't commit.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Promo Code
  /promocode/v1/promoCodes/{promoCode}:
    get:
      tags:
        - Promo Code Service
      description: Gets a single promo code.
      operationId: PromoCodeService_GetPromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Promo Code
    delete:
      tags:
        - Promo Code Service
      description: Deletes a promo code.
      operationId: PromoCodeService_DeletePromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: etag
          in: query
          description: |-
            Optional optimistic-concurrency guard: if set, the delete fails unless it
             matches the current PromoCode.etag (AIP-154). Echo the etag you last read.
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the promo code along with its redemptions; otherwise the
             delete fails when redemptions exist.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Promo Code
    patch:
      tags:
        - Promo Code Service
      description: Updates a promo code.
      operationId: PromoCodeService_UpdatePromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: |-
            Fields to overwrite. Omit to replace all mutable fields. Nested fields use
             dotted paths, e.g. "discount.amount_off", "window.end_time", "scope.min_subtotal".
          schema:
            type: string
            format: field-mask
        - name: validateOnly
          in: query
          description: If true, validate the request and return what would happen, but don't commit.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Promo Code
  /promocode/v1/promoCodes/{promoCode}/redemptions:
    get:
      tags:
        - Promo Code Service
      description: |-
        Lists redemptions of a promo code (paged). Redemptions are created during
         CreateBooking, so this service exposes read-only access to them.
      operationId: PromoCodeService_ListRedemptions
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of redemptions to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListRedemptions call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression over redemption fields, e.g. `customer = "users/123"` (AIP-160).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "redeemed_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRedemptionsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Redemptions
  /promocode/v1/promoCodes/{promoCode}/redemptions/{redemption}:
    get:
      tags:
        - Promo Code Service
      description: Gets a single redemption by resource name.
      operationId: PromoCodeService_GetRedemption
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: redemption
          in: path
          description: The redemption id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemption'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Redemption
  /promocode/v1/promoCodes:validatePromoCode:
    post:
      tags:
        - Promo Code Service
      description: Validates a code against a prospective booking and returns the discount.
      operationId: PromoCodeService_ValidatePromoCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePromoCodeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePromoCodeResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Validate Promo Code
  /v1/organizationalUnits/{organizationalUnit}/licences:
    get:
      tags:
        - Licence Service
      description: |-
        Lists the regulatory licences/certificates under a property — both
         property-wide and per-unit ones.
      operationId: LicenceService_ListLicences
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of licences to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListLicences call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `type = LICENCE_TYPE_FIRE_SAFETY`,
             `target = LICENCE_TARGET_UNIT`, `unit = resources/bay-l2-014`, or
             `expiry_date <= 2026-08-01` to find licences due for renewal.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "expiry_date" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLicencesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Licences
    post:
      tags:
        - Licence Service
      description: |-
        Creates a licence under a property, e.g. after uploading a scan of a trade
         or fire-safety certificate. Set the licence's `unit` to cover a single
         unit instead of the whole property.
      operationId: LicenceService_CreateLicence
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: licenceId
          in: query
          description: Optional caller-chosen ID for the licence; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Licence'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Licence
  /v1/organizationalUnits/{organizationalUnit}/licences/{licence}:
    get:
      tags:
        - Licence Service
      description: Gets a single licence.
      operationId: LicenceService_GetLicence
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Licence
    delete:
      tags:
        - Licence Service
      description: Deletes a licence.
      operationId: LicenceService_DeleteLicence
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Licence
    patch:
      tags:
        - Licence Service
      description: Updates a licence, e.g. to record its renewal.
      operationId: LicenceService_UpdateLicence
      parameters:
        - name: organizationalUnit
          in: path
          description: The organizationalUnit id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Licence'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Licence
  /v1/properties/{property}/units/{unit}/availabilityExceptions:
    get:
      tags:
        - Schedule Service
      description: Lists the exceptions configured for a unit.
      operationId: ScheduleService_ListAvailabilityExceptions
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of exceptions to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Token for the page of results to return. Empty for the first page.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. `kind = EXCEPTION_KIND_CLOSURE`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "window.start_time" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailabilityExceptionsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Availability Exceptions
    post:
      tags:
        - Schedule Service
      description: Adds an availability exception to a unit.
      operationId: ScheduleService_CreateAvailabilityException
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: availabilityExceptionId
          in: query
          description: Optional caller-chosen ID for the exception; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityException'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityException'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Availability Exception
  /v1/properties/{property}/units/{unit}/availabilityExceptions/{availabilityException}:
    get:
      tags:
        - Schedule Service
      description: Gets a single availability exception.
      operationId: ScheduleService_GetAvailabilityException
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: availabilityException
          in: path
          description: The availabilityException id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityException'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Availability Exception
    delete:
      tags:
        - Schedule Service
      description: Removes an availability exception.
      operationId: ScheduleService_DeleteAvailabilityException
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: availabilityException
          in: path
          description: The availabilityException id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Availability Exception
  /v1/properties/{property}/units/{unit}/schedule:
    get:
      tags:
        - Schedule Service
      description: Reads the full availability configuration for a unit.
      operationId: ScheduleService_GetSchedule
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Schedule
    patch:
      tags:
        - Schedule Service
      description: |-
        Updates a unit's availability configuration. Set update_mask to the
         section(s) to replace: recurring_rules, buffers, stay_constraints, and/or
         cancellation_policy.
      operationId: ScheduleService_UpdateSchedule
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable sections.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Schedule
  /v1/bookings:
    get:
      tags:
        - Scheduling Service
      description: Lists bookings.
      operationId: SchedulingService_ListBookings
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of bookings to return. Must be at most 1000; larger values are rejected.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListBookings call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `unit = "properties/9/units/42"`,
             `customer = "users/7"`, `state = CONFIRMED`, or a window overlap predicate.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc" or "window.start_time".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBookingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Bookings
    post:
      tags:
        - Scheduling Service
      description: Creates a booking, placing a hold.
      operationId: SchedulingService_CreateBooking
      parameters:
        - name: requestId
          in: query
          description: |-
            Caller-supplied idempotency key that dedupes retries of this create. Reusing
             an id returns the booking created by the first call.
          schema:
            type: string
        - name: bookingId
          in: query
          description: Optional caller-chosen ID for the booking; the server generates one if unset.
          schema:
            type: string
        - name: validateOnly
          in: query
          description: |-
            If true, price the booking and check it against availability, capacity, and
             occupancy, but place no hold. The returned Booking carries price, discount,
             total, and the itemized price_components — the same numbers a real create
             would charge — with no name or state, because nothing was created. A window
             that is already full fails here exactly as it would on create.

             The quote is indicative, not reserved: it holds nothing, so the capacity it
             saw can be taken by someone else before you call again without validate_only.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Booking'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Booking
  /v1/bookings/{booking}:
    get:
      tags:
        - Scheduling Service
      description: Gets a single booking.
      operationId: SchedulingService_GetBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Booking
  /v1/bookings/{booking}/guests:
    get:
      tags:
        - Scheduling Service
      description: Gets the staying party (guests and occupancy) on a booking.
      operationId: SchedulingService_GetBookingGuests
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingGuests'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Booking Guests
    patch:
      tags:
        - Scheduling Service
      description: Replaces the staying party (guests and occupancy) on a booking.
      operationId: SchedulingService_UpdateBookingGuests
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace both guests and occupancy.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingGuests'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingGuests'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Booking Guests
  /v1/bookings/{booking}:cancel:
    post:
      tags:
        - Scheduling Service
      description: Cancels a booking.
      operationId: SchedulingService_CancelBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Cancel Booking
  /v1/bookings/{booking}:confirm:
    post:
      tags:
        - Scheduling Service
      description: Confirms a held booking.
      operationId: SchedulingService_ConfirmBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Confirm Booking
  /v1/bookings/{booking}:previewCancellation:
    post:
      tags:
        - Scheduling Service
      description: Previews the refund a cancellation would yield now, without cancelling.
      operationId: SchedulingService_PreviewCancellation
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewCancellationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewCancellationResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Preview Cancellation
  /v1/bookings/{booking}:reschedule:
    post:
      tags:
        - Scheduling Service
      description: Reschedules a booking to a new span.
      operationId: SchedulingService_RescheduleBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Reschedule Booking
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication using a JWT access token.
  schemas:
    AvailabilityBucket:
      type: object
      properties:
        window:
          allOf:
            - $ref: '#/components/schemas/Interval'
          description: |-
            The span this bucket covers: one slot, or one calendar day in the target
             time zone, per the request's granularity.
        freeCount:
          type: integer
          description: How many candidate resources are free across the whole span.
          format: int32
        totalCount:
          type: integer
          description: |-
            How many candidates were considered. `free_count` out of this is the
             "5 of 12 free" a caller renders.
          format: int32
        freeResources:
          type: array
          items:
            type: string
          description: |-
            Which resources are free, when the request asked for them. Omitted by
             default: a car park with 200 bays would otherwise repeat 200 names in
             every bucket of every day.
             Format: resources/{resource}
      description: |-
        One slice of an availability answer: how many resources are free across a
         span, and which ones.

         This is where pooling happens. No RFC counts inventory -- RFC 5545 and 7953
         are one-calendar-one-timeline -- so a count is produced by asking each
         resource's calendar whether it is free and totalling the answers, rather than
         by storing a capacity number anywhere.
    AvailabilityMatch:
      type: object
      properties:
        resource:
          type: string
          description: |-
            The free resource.
             Format: resources/{resource}
        organizationalUnit:
          type: string
          description: |-
            The site it belongs to.
             Format: organizationalUnits/{organizational_unit}
        window:
          allOf:
[...]
