# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: HoldService API
    description: |-
        HoldService takes and releases expiring claims on resources. It is the only
         thing in this API that mutates availability.

         Two things are deliberately not RPCs, following the precedent SchedulingService
         set: the sweeper that expires lapsed holds is an internal job, not a call,
         and conversion to a confirmed booking is driven from the booking side, so a
         hold is never converted by a caller reaching in here.

         There is no UpdateHold. A hold's window and resources are immutable by
         construction -- changing either is a different allocation -- so the only
         mutations are the two custom methods below.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/organizationalUnits/{organizationalUnit}/holds:
        get:
            tags:
                - HoldService
            description: Lists the holds taken at a site.
            operationId: HoldService_ListHolds
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum holds to return. Defaults to 50, capped at 1000.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListHoldsResponse.next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression, AIP-160, over the hold's own fields, e.g.
                     `state=HOLD_STATE_ACTIVE`.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListHoldsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - HoldService
            description: |-
                Takes a hold, allocating concrete resources for the window.

                 The server chooses which resources are taken from the candidates offered,
                 under a lock, so two callers racing for the last bay cannot both win.
                 Requires an idempotency key: a retry after a timeout returns the original
                 hold rather than taking a second one.
            operationId: HoldService_CreateHold
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: holdId
                  in: query
                  description: |-
                    Client-assigned id, becoming the last segment of the hold name. The server
                     generates one when empty.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Hold'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Hold'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:
        get:
            tags:
                - HoldService
            description: |-
                Retrieves one hold.

                 Authoritative on expiry: a hold whose expire_time has passed is reported
                 EXPIRED here even if the sweeper has not yet written that state, so a
                 caller never sees an ACTIVE hold that no longer reserves anything.
            operationId: HoldService_GetHold
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: hold
                  in: path
                  description: The hold id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Hold'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - HoldService
            description: |-
                Deletes a hold record.

                 Housekeeping for terminal holds, not a way to free resources -- use
                 ReleaseHold for that. Deleting an ACTIVE hold is rejected, so inventory is
                 never freed by a path that leaves no audit trail.
            operationId: HoldService_DeleteHold
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: hold
                  in: path
                  description: The hold id.
                  required: true
                  schema:
                    type: string
                - name: etag
                  in: query
                  description: |-
                    Opaque version read from the hold; the delete is rejected if the hold
                     changed since (AIP-154).
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:extend:
        post:
            tags:
                - HoldService
            description: |-
                Pushes a hold's expiry further out.

                 Measured from now rather than from the current deadline, so repeated calls
                 cannot accumulate an unbounded reservation. Fails on a hold that is not
                 ACTIVE -- an expired hold is gone, not extendable.
            operationId: HoldService_ExtendHold
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: hold
                  in: path
                  description: The hold id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ExtendHoldRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Hold'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organizationalUnits/{organizationalUnit}/holds/{hold}:release:
        post:
            tags:
                - HoldService
            description: |-
                Gives a hold up before it expires, freeing its resources immediately.

                 Idempotent: releasing an already-released or expired hold succeeds and
                 changes nothing, because the caller's intent is already satisfied.
            operationId: HoldService_ReleaseHold
            parameters:
                - name: organizationalUnit
                  in: path
                  description: The organizationalUnit id.
                  required: true
                  schema:
                    type: string
                - name: hold
                  in: path
                  description: The hold id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ReleaseHoldRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Hold'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        ExtendHoldRequest:
            required:
                - name
                - duration
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        Name of the hold to extend.
                         Format: organizationalUnits/{organizational_unit}/holds/{hold}
                duration:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: |-
                        How much further out to push expire_time, measured from now rather than
                         from the current deadline, so repeated extensions cannot accumulate.
                etag:
                    type: string
                    description: |-
                        Opaque version read from the hold; the extension is rejected if the hold
                         changed since (AIP-154).
            description: Request message for HoldService.ExtendHold.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Hold:
            required:
                - window
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The hold name. Nested under the site whose resources it takes, so a hold
                         is listed and swept per site without joining through every resource.
                         Format: organizationalUnits/{organizational_unit}/holds/{hold}
                resources:
                    readOnly: true
                    type: array
                    items:
                        type: string
                    description: |-
                        The concrete resources this hold has taken, one per unit of `quantity`.
                         Chosen by the server from the candidates the request offered.
                         Format: resources/{resource}
                window:
                    allOf:
                        - $ref: '#/components/schemas/Interval'
                    description: |-
                        The window held. Immutable: moving it is a different allocation, so
                         release this hold and take another.
                candidateResources:
                    type: array
                    items:
                        type: string
                    description: |-
                        Candidate resources the allocator may choose from, supplied on create.
                         Empty offers every resource the site holds. Immutable: the choice is made
                         once, and re-offering a different set is a different allocation.
                         Format: resources/{resource}
                quantity:
                    type: integer
                    description: |-
                        How many resources to take, supplied on create; defaults to 1. Once the
                         hold is ACTIVE this equals the length of `resources`.
                    format: int32
                expireTime:
                    readOnly: true
                    type: string
                    description: |-
                        When the hold lapses if nothing confirms it. Extend it with ExtendHold;
                         past this instant the hold no longer reserves anything, whether or not the
                         sweeper has yet marked it EXPIRED.
                    format: date-time
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state. New holds start ACTIVE.
                    format: enum
                idempotencyKey:
                    type: string
                    description: |-
                        Caller-supplied key making CreateHold safe to retry. A repeat with the same
                         key returns the original hold rather than taking a second one.
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    readOnly: true
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A Hold is a temporary, expiring claim on one or more bookable resources for a
                 window, taken before payment or confirmation so two callers cannot be sold
                 the same thing.

                 Native, with no RFC behind it, and the comment says why (the same trade
                 protobuf.shared.project.v1 records upstream). RFC 5545 section 3.2.12's
                 PARTSTAT=TENTATIVE can express that a claim is provisional, and RFC 5546's
                 iTIP can carry the request that created it, but neither specifies a lapse
                 time, and an expiring claim is the one thing a commercial booking engine
                 cannot do without. The resources held are RFC 9073 VRESOURCEs and the window
                 is measured against their RFC 7953 availability; only the clock is ours.

                 Holds are allocated, not requested: CreateHold names candidate resources and
                 a quantity, and the server decides which concrete resources are taken. That
                 keeps "which bay did I get" a server decision made under a lock, rather than
                 a client guess that races.
        Interval:
            type: object
            properties:
                startTime:
                    type: string
                    description: |-
                        Optional. Inclusive start of the interval.

                         If specified, a Timestamp matching this interval will have to be the same
                         or after the start.
                    format: date-time
                endTime:
                    type: string
                    description: |-
                        Optional. Exclusive end of the interval.

                         If specified, a Timestamp matching this interval will have to be before the
                         end.
                    format: date-time
            description: |-
                Represents a time interval, encoded as a Timestamp start (inclusive) and a
                 Timestamp end (exclusive).

                 The start must be less than or equal to the end.
                 When the start equals the end, the interval is empty (matches no time).
                 When both start and end are unspecified, the interval matches any time.
        ListHoldsResponse:
            type: object
            properties:
                holds:
                    type: array
                    items:
                        $ref: '#/components/schemas/Hold'
                    description: The holds on this page.
                nextPageToken:
                    type: string
                    description: Token for the next page, empty when this is the last page.
            description: Response message for HoldService.ListHolds, AIP-132.
        ReleaseHoldRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        Name of the hold to release.
                         Format: organizationalUnits/{organizational_unit}/holds/{hold}
                etag:
                    type: string
                    description: |-
                        Opaque version read from the hold; the release is rejected if the hold
                         changed since (AIP-154).
            description: Request message for HoldService.ReleaseHold.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: HoldService
