# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: RatePlanService API
    description: |-
        RatePlanService manages what a bookable resource costs.

         Rate plans are the money half of the engine, and the half no RFC covers. They
         attach to an RFC 9073 VRESOURCE by reference rather than living on it, so the
         standards-defined description of a bookable thing never grows a price.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/ratePlans:
        get:
            tags:
                - RatePlanService
            description: Lists rate plans, most usefully filtered by the resource they price.
            operationId: RatePlanService_ListRatePlans
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum rate plans to return. Defaults to 50, capped at 1000.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListRatePlansResponse.next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression, AIP-160, e.g. `resource="resources/bay-l2-014"`.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListRatePlansResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - RatePlanService
            description: Creates a rate plan.
            operationId: RatePlanService_CreateRatePlan
            parameters:
                - name: ratePlanId
                  in: query
                  description: |-
                    Client-assigned id, becoming the last segment of the name. The server
                     generates one when empty.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RatePlan'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RatePlan'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/ratePlans/{ratePlan}:
        get:
            tags:
                - RatePlanService
            description: Retrieves one rate plan.
            operationId: RatePlanService_GetRatePlan
            parameters:
                - name: ratePlan
                  in: path
                  description: The ratePlan id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RatePlan'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - RatePlanService
            description: |-
                Deletes a rate plan.

                 Prefer archiving (state ARCHIVED) over deleting: a booking priced under a
                 plan must stay explainable after the plan stops being offered, and a delete
                 takes that record away.
            operationId: RatePlanService_DeleteRatePlan
            parameters:
                - name: ratePlan
                  in: path
                  description: The ratePlan id.
                  required: true
                  schema:
                    type: string
                - name: etag
                  in: query
                  description: |-
                    Opaque version read from the rate plan; the delete is rejected if it
                     changed since (AIP-154).
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - RatePlanService
            description: |-
                Updates a rate plan.

                 Editing a plan changes what future quotes cost; it does not reprice a
                 booking already taken, which carries the components it was quoted under.
            operationId: RatePlanService_UpdateRatePlan
            parameters:
                - name: ratePlan
                  in: path
                  description: The ratePlan id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to update. An empty mask updates all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RatePlan'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RatePlan'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        Adjustment:
            type: object
            properties:
                percentDelta:
                    type: integer
                    description: 'Percent to move the running price by: 20 raises it a fifth, -15 cuts it.'
                    format: int32
                amountDelta:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Flat amount to add, negative to subtract.
            description: |-
                A price adjustment expressed as a proportion or a flat amount. Exactly one is
                 set; both may be negative, which is how a discount is written.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                An inclusive-start, exclusive-end span of calendar dates.

                 Declared here rather than reused from freebusy.shared.v1: AIP-215 permits no
                 cross-package message reference, and a shared types package was exactly what
                 produced the foreign-type findings this package is written to avoid. The
                 duplication is the documented cost of that rule.
        DynamicBand:
            required:
                - minThreshold
                - adjustment
            type: object
            properties:
                minThreshold:
                    type: integer
                    description: |-
                        Inclusive lower bound of the measured value.

                         The unit is the rule's trigger and nothing else says so: percent for
                         OCCUPANCY, whole days for LEAD_TIME, nights for LENGTH_OF_STAY. A single
                         pair of ints across three units is the cost of keeping bands comparable and
                         sortable; the alternative was a oneof per trigger, which makes every reader
                         switch on a type to ask "is this band above that one".
                    format: int32
                maxThreshold:
                    type: integer
                    description: |-
                        Exclusive upper bound. Zero means unbounded above, so the last band of a
                         ladder needs no sentinel.
                    format: int32
                adjustment:
                    allOf:
                        - $ref: '#/components/schemas/Adjustment'
                    description: What the price does inside this band.
                displayName:
                    type: string
                    description: |-
                        Human-readable label carried onto the quote line, e.g. "high occupancy" or
                         "booked within 3 days". A dynamic charge a guest cannot see the reason for
                         is a complaint; this is what makes it explainable.
            description: |-
                One threshold band of a DynamicRule: the range the measured value must fall
                 in, and what happens to the price when it does.
        DynamicRule:
            required:
                - trigger
                - bands
            type: object
            properties:
                trigger:
                    type: integer
                    description: What this rule measures.
                    format: enum
                bands:
                    type: array
                    items:
                        $ref: '#/components/schemas/DynamicBand'
                    description: |-
                        The ladder. Overlapping bands are a configuration error: the first match in
                         declaration order wins, so an overlap silently makes a later band dead
                         rather than failing, and a quote is the wrong place to discover that.
            description: |-
                A rule that moves price according to something measured at quote time.

                 Bands are evaluated against the trigger's measured value and at most one band
                 matches per rule, because bands of a single rule partition a range. Rules
                 compound across triggers; bands do not compound within one.
        Fee:
            required:
                - code
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "cleaning_fee".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                amount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Flat fee amount.
                percent:
                    type: integer
                    description: Percent of the base subtotal, when charging proportionally.
                    format: int32
                pricingUnit:
                    type: integer
                    description: What the fee is charged per. Defaults to per booking.
                    format: enum
                taxable:
                    type: boolean
                    description: Whether this fee joins the taxable base.
            description: |-
                A charge added on top of the base subtotal. Exactly one of `amount` or
                 `percent` is set.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListRatePlansResponse:
            type: object
            properties:
                ratePlans:
                    type: array
                    items:
                        $ref: '#/components/schemas/RatePlan'
                    description: The rate plans on this page.
                nextPageToken:
                    type: string
                    description: Token for the next page, empty when this is the last page.
            description: Response message for RatePlanService.ListRatePlans, AIP-132.
        LosDiscount:
            required:
                - minNights
            type: object
            properties:
                minNights:
                    type: integer
                    description: Minimum nights before the discount applies.
                    format: int32
                percentOff:
                    type: integer
                    description: Percent off the subtotal, when discounting proportionally.
                    format: int32
                amountOff:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Fixed amount off the subtotal, when discounting by a flat sum.
            description: |-
                A discount applied once a stay reaches `min_nights`. Exactly one of
                 `percent_off` or `amount_off` is set.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        PriceBounds:
            type: object
            properties:
                floor:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Never quote below this. Unset means no floor.
                ceiling:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        Never quote above this. Unset means no ceiling — reasonable only for a plan
                         with no dynamic rules.
            description: |-
                Hard limits on a computed price, applied last — after every override,
                 discount, dynamic rule and fee, and before tax.

                 Applied last on purpose: bounding an intermediate step would let a later rule
                 carry the price back out of range, which is exactly the failure the bounds
                 exist to prevent.
        RateOverride:
            required:
                - price
            type: object
            properties:
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        Dates the override covers. Unset means every date, making this a pure
                         weekday rule.
                weekdays:
                    type: array
                    items:
                        type: integer
                        format: enum
                    description: |-
                        Weekdays it covers. Empty means every day inside `date_range`.

                         google.type.DayOfWeek rather than an enum of our own: it is the shared
                         vocabulary the RFC packages already use for recurrence, and google.* is the
                         one exemption to the cross-package rule.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: The price in effect while this override matches.
            description: |-
                A price that replaces a plan's base rate for a span of dates, specific
                 weekdays, or both.
        RatePlan:
            required:
                - resource
                - displayName
                - price
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The rate plan name.
                         Format: ratePlans/{rate_plan}
                resource:
                    type: string
                    description: |-
                        The bookable resource this plan prices.
                         Format: resources/{resource}
                displayName:
                    type: string
                    description: Human-friendly name, e.g. "Flexible", "Non-refundable", "Early Bird".
                description:
                    type: string
                    description: Free-form description shown with the offer.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        The default price, interpreted per `pricing_unit`. Overrides in
                         `rate_overrides` replace it where they match; this applies where none do.
                pricingUnit:
                    type: integer
                    description: What `price` is charged per. Defaults to per booking.
                    format: enum
                rateOverrides:
                    type: array
                    items:
                        $ref: '#/components/schemas/RateOverride'
                    description: |-
                        The rate calendar: date- and weekday-scoped replacements for `price`.
                         Later-listed overrides win where two match the same date.
                losDiscounts:
                    type: array
                    items:
                        $ref: '#/components/schemas/LosDiscount'
                    description: |-
                        Discounts applied once a stay reaches a minimum length. The most generous
                         matching discount applies; they do not stack.
                fees:
                    type: array
                    items:
                        $ref: '#/components/schemas/Fee'
                    description: Fees added on top of the base subtotal.
                taxes:
                    type: array
                    items:
                        $ref: '#/components/schemas/Tax'
                    description: |-
                        Taxes applied to the taxable base — the subtotal plus every fee marked
                         taxable.
                dynamicRules:
                    type: array
                    items:
                        $ref: '#/components/schemas/DynamicRule'
                    description: |-
                        Rules that move the price by the state of the world rather than by the
                         calendar — occupancy, lead time, length of stay. Empty means static
                         pricing, which is the default and stays a first-class choice.

                         Every matching rule applies, in order, each compounding on the running
                         price. That is a deliberate choice over "most specific wins": revenue
                         management is genuinely multiplicative — a last-minute booking into a
                         nearly-full house is both — and a winner-takes-all rule would silently
                         discard one of the two signals.
                bounds:
                    allOf:
                        - $ref: '#/components/schemas/PriceBounds'
                    description: |-
                        Hard bounds on any computed price. Strongly recommended once
                         `dynamic_rules` is non-empty.

                         Compounding rules multiply, and multiplication runs away: three rules at
                         +25% each is +95%, not +75%, and a mispriced band is discovered by a guest
                         rather than by a test. Bounds are the blast radius — they cap what any
                         arithmetic error can charge, and floor what a stacked discount can give
                         away.
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state. New plans start ACTIVE.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    readOnly: true
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A RatePlan is what a bookable resource costs: a base price, the calendar of
                 overrides that move it, and the fees and taxes layered on top.

                 Native, with no RFC behind it, and this is the one gap the audit could not
                 close. The IETF has never standardised commerce — RFC 8905's `payto:` names a
                 payment *address*, not an amount — so while every statement this engine makes
                 about time comes from a published RFC, every statement it makes about money is
                 ours. `google.type.Money` carries the amounts, which is the closest thing to a
                 standard available and is exempt from the cross-package rule.

                 A resource of its own rather than fields on the thing being priced: the same
                 resource is sold at different rates to different channels and seasons, a rate
                 plan is edited on a cadence entirely unlike the resource's, and a booking must
                 still be explainable under the plan that priced it long after that plan stops
                 being offered. Pricing attaches to a resource by reference, so an RFC 9073
                 VRESOURCE stays a description of a bookable thing and never grows a price.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        Tax:
            required:
                - code
                - percent
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "occupancy_tax" or "gst".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                percent:
                    type: number
                    description: Rate as a percentage, e.g. 12 for 12% GST.
                    format: double
            description: A tax on the taxable base — the subtotal plus every fee marked taxable.
tags:
    - name: RatePlanService
