# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: QuoteService API
    description: |-
        QuoteService prices a window without reserving anything.

         Read-only and side-effect free: a quote is an answer, not a claim. Reserving
         is HoldService's job, and the two are separate calls precisely so a caller can
         show a price before committing to inventory.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/ratePlans/{ratePlan}:computeQuote:
        post:
            tags:
                - QuoteService
            description: |-
                Prices a window under a rate plan, returning every component.

                 A custom method (AIP-136): it computes a result rather than fetching a
                 resource, so it takes neither a standard-method name nor its shape.

                 An invalid promotion code is reported in rejected_promotion_codes rather
                 than failing the call — a mistyped code should re-render a price, not an
                 error.
            operationId: QuoteService_ComputeQuote
            parameters:
                - name: ratePlan
                  in: path
                  description: The ratePlan id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ComputeQuoteRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ComputeQuoteResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        ComputeQuoteRequest:
            required:
                - ratePlan
                - window
            type: object
            properties:
                ratePlan:
                    type: string
                    description: |-
                        The rate plan to price under.
                         Format: ratePlans/{rate_plan}
                window:
                    allOf:
                        - $ref: '#/components/schemas/Interval'
                    description: The window being priced. Nights are counted in the resource's time zone.
                quantity:
                    type: integer
                    description: How many resources are being booked. Defaults to 1.
                    format: int32
                partySize:
                    type: integer
                    description: Party size, for PER_PERSON pricing. Defaults to 1.
                    format: int32
                occupancyPercent:
                    type: integer
                    description: |-
                        Occupancy across the window, 0-100, for a DYNAMIC_TRIGGER_OCCUPANCY rule.

                         Normally left unset: the server measures it from the allocation engine,
                         which is the only place that knows what is actually taken. Supply it to ask
                         a what-if — "what would this cost at 90% full" — for a rate-card preview or
                         a pricing simulation, without moving any inventory to find out.

                         Optional rather than an oneof against a "measure it" flag: unset already
                         means "measure it", and zero occupancy is a real value a caller may want to
                         model, so presence is read rather than the value.
                    format: int32
                promotionCodes:
                    type: array
                    items:
                        type: string
                    description: |-
                        Promotion codes to attempt. Each is validated and either applied as a
                         COMPONENT_TYPE_PROMOTION line or reported in `rejected_promotion_codes`;
                         an invalid code never fails the quote, because a mistyped code should
                         re-render a price, not an error page.
            description: Request message for QuoteService.ComputeQuote.
        ComputeQuoteResponse:
            type: object
            properties:
                components:
                    type: array
                    items:
                        $ref: '#/components/schemas/QuoteComponent'
                    description: |-
                        Every line, in the order applied: base, overrides, discounts, promotions,
                         fees, then taxes. Summing them yields `total`.
                subtotal:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Sum of every component before fees and taxes.
                taxTotal:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Sum of every tax line.
                total:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: What the guest pays.
                rejectedPromotionCodes:
                    type: array
                    items:
                        $ref: '#/components/schemas/RejectedPromotionCode'
                    description: |-
                        Promotion codes that did not apply, with the reason, so a caller can tell
                         the guest why rather than silently dropping the code.
            description: Response message for QuoteService.ComputeQuote.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Interval:
            type: object
            properties:
                startTime:
                    type: string
                    description: |-
                        Optional. Inclusive start of the interval.

                         If specified, a Timestamp matching this interval will have to be the same
                         or after the start.
                    format: date-time
                endTime:
                    type: string
                    description: |-
                        Optional. Exclusive end of the interval.

                         If specified, a Timestamp matching this interval will have to be before the
                         end.
                    format: date-time
            description: |-
                Represents a time interval, encoded as a Timestamp start (inclusive) and a
                 Timestamp end (exclusive).

                 The start must be less than or equal to the end.
                 When the start equals the end, the interval is empty (matches no time).
                 When both start and end are unspecified, the interval matches any time.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        QuoteComponent:
            type: object
            properties:
                type:
                    type: integer
                    description: What kind of line this is.
                    format: enum
                code:
                    type: string
                    description: |-
                        Stable machine code of the rule behind it — a fee's `code`, a tax's `code`,
                         or a promotion's code. Empty for the base rate.
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                amount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: The amount, negative for discounts.
            description: |-
                One line of a quote: what it is, what it came from, and what it cost.

                 A quote is an audit trail, not just a total. Every component names the rule
                 that produced it, so a guest disputing a charge months later can be shown
                 which override or fee applied rather than a number nobody can reconstruct.
        RejectedPromotionCode:
            type: object
            properties:
                code:
                    type: string
                    description: The code as supplied.
                reason:
                    type: string
                    description: Why it did not apply, e.g. "expired", "minimum stay not met".
            description: A promotion code that was offered but did not apply.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: QuoteService
